{{#with content}}
<article class="padded">
	{{{html}}}
	{{#each text}}
	<p>{{this}}</p>
	{{/each}}

	{{#if file}}
	{{#with file}}
	<a href="{{path}}" class="file">
		<img src="{{thumbnail}}">
		<div class="file-info">
			<p class="title"><img src="img/dl.svg"> {{title}}</p>
			<p>{{detail}}</p>
		</div>
	</a>
	{{/with}}
	{{/if}}
</article>
{{/with}}