<article>
	<section>
		<img src="{{project.img}}">
	</section>

	{{#with project.page}}
	<div class="row">
		<section>
			{{{html}}}
			{{#if tech}}
				<i>Tech used: {{tech}}</i>
			{{/if}}
		</section>

		<aside class="links">
			{{#if github}}
			<a href="{{github}}">
				View code on GitHub
				<img src="/img/view-code.svg">
			</a>
			{{/if}}
			{{#if live}}
			<a href="{{live}}">
				View live
				<img src="/img/view-live.svg">
			</a>
			{{/if}}
		</aside>
	</div>
	{{/with}}
</article>